* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #052036;
  color: #fff;
}

.desktop-width {
  max-width: 1100px;
  padding: 0 2rem;
  margin: 0 auto;
}

section {
  width: 60%;
}

h1 {
  font-size: 4rem;
  line-height: 100%;
  margin-top: 4rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  border: none;
}

.anyModelCheckbox {
  flex-direction: row;
  margin-bottom: 1rem;
}

.anyModelCheckbox input {
  margin-left: 1rem;
}

button {
  margin-top: 1rem;
  padding: .6rem 0;
  border: none;
  background-color: #264B5D;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 6px 18px rgba(10, 20, 25, 0.5);

  transition: all 0.3s ease-in-out;
  
}

button:hover {
  background-color: #2f5b70;
}

.App-header {
  height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inner-header {
  height: 100%;

  display: flex;
  align-items: center;
}

.inner-header img {
  max-width: 10vh;
}

.landing-page-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
 height: 90vh;
}

section.form-column {
  width: 40%;
  padding: 4rem 2rem;
  background: hsl(202deg 63% 8%);
}

section.form-column > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p.hero-subheadline {
  font-size: 1.5rem;
  margin-top: 1.2rem;
  line-height: 150%;
  padding-right: 2rem;
  color: #B4DAF8;
}

div.success-message {
  background: hsl(202deg 63% 25%);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0px 6px 18px rgba(10, 20, 25, 0.5);
  line-height: 150%;
}

@media screen and (max-width: 830px) {
  
  .desktop-width {
    max-width: 100%;
    padding: 0rem 3rem;
  }

  main {
    flex-direction: column;
    height: auto;
  }

  section {
    width: 100%;
  }

  h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  p.hero-subheadline {
    font-size: 1rem;
    padding-right: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  section.form-column {
    width: 100%;
    margin-top: 2rem;
    padding: 2rem 1rem;
  }

}

@media screen and (max-width: 500px) {

  .desktop-width {
    padding: 0rem 0.8rem;
  }

  h1 {
    font-size: 2.2rem;
  }

}


